<html>
    <link href = "/static/Bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>To-Do lists</title>
<body>
<div class = "container">

<div class = "row">
    <div class = "col-md-6 col-md-offset-3 jumbotron">
        <div class = "text-center">
<h1>{% block header_text %}{% endblock %}</h1>
<form method="POST" action = "{% block form_action %}{% endblock %}"></form>
<input class="form-control input-lg" id="id_new_item" name="item_text" placeholder="Enter a to-do item"/>
{% csrf_token %}
{% if error %}
    <div class = "form-group has-error">
        <span class = "help-block">{{error}}</span>
    </div>
{% endif %}
</form>
</div>
    </div>
</div>

<div class = "row">
    <div class = "col-md-6 col-md-offset-3">
{% block table %}
{% endblock %}
    </div>
</div>


</div>
</body>
</html>